@charset "UTF-8";

p#parte1 {
    width: 756px;
    margin-left: 15px;
    
}
p#parte2 {
    width: 786px;
    margin-left: 300px;

}
p#parte3 {
    margin-left: 15px;
    margin-top: 18px;
}
figure.photo-sub3 {
    position: relative;
    border: 1px solid rgb(206, 192, 175) ;
    box-shadow: 1.5px 1.5px 6px rgb(70, 48, 48);
    width: 280px;
    height: 347px;
    margin-top: -352px;
    margin-left: 800px;
}

figure.photo-sub3 figcaption {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box ;
    opacity: 0;
    transition: opacity 0.3s ;
}
/*--------------------------------------------------------------------------*/
figure.photo-sub3 figcaption p {
 margin-top: 100px;
}

figure.photo-sub3:hover figcaption {
    opacity: 1;
}

figure.photo-sub4 {
    position: relative;
    border: 1px solid rgb(206, 192, 175) ;
    box-shadow: 1.5px 1.5px 6px rgb(70, 48, 48);
    width: 265px;
    height: 149px;
    margin-top: -155px;
    margin-left: 10px;
}

figure.photo-sub4 figcaption {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box ;
    opacity: 0;
    transition: opacity 0.3s ;
}
figure.photo-sub4 figcaption p {
 margin-top: 50px;
}

figure.photo-sub4:hover figcaption {
    opacity: 1;
}
