@charset "UTF-8";
/*GERAL*/

figure span {
    margin-top: 30px;
    transition: opacity 0.3s ;
    opacity: 0;
    box-sizing: border-box ;
    color: rgb(41, 41, 41);
    position: absolute;
    font-size: 6pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
figure {
    margin: 0px;
    transition: all 0.05s ease-in;
    box-shadow: 1px 1px 4px black;
    border: 8px solid rgb(255, 255, 255) ;
    position: relative;
    
}
figure:hover {
    transform: scale(2.5);
}
/*==============================================================================================*/
figure#fotomercado1 span{
    width: 110px;
    text-indent: 15px;
    margin-left: 15px;
    margin-top: 15px;
    
}
figure#fotomercado1:hover span{
    opacity: 1;
}
figure#fotomercado1 {
    width: 150px;
    height: 111px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: white;
}
figure#fotomercado1 img{
    width: 100%;
    height: 100%;
    background-color: white;
    
}

/*==============================================================================================*/
figure#fotomercado2 span{ 
    width: 100px;
    text-indent: 15px;
    margin-left: -260px;
    margin-top: 15px;
}
figure#fotomercado2:hover span{
    opacity: 1;
}
figure#fotomercado2 {
    width: 150px;
    height: 111px;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}
figure#fotomercado2 img{
    width: 100%;
    height: 100%;
    background-color: white;
}
figure#fotomercado2 span p {
    margin-top: 80px;
}
/*==============================================================================================*/
figure#fotomercado3 {
    position: relative;
    border: 8px solid rgb(255, 255, 255) ;
    box-shadow: 1px 1px 4px black;
    width: 190px;
    height: 111px;
    float: right;
    transition: all 0.05s ease-in;
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
figure#fotomercado3 img{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
figure#fotomercado3:hover span{
    opacity: 1;
}
figure#fotomercado3 span{
    font-size: 8pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 110px;
    color: rgb(41, 41, 41);
    text-indent: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-top: 60px;
}
figure#fotomercado3:hover {
    transform: scale(2);
}
/*==============================================================================================*/
figure#fotomercado3 img{
    width: 100%;
    height: 100%;
    
    
}
/*==============================================================================================*/
figure#fotomercado4 img{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
figure#fotomercado4 span{ 
    width: 100px;
    text-indent: 15px;
    margin-left: -260px;
    margin-top: 15px;
}
figure#fotomercado4:hover span{
    opacity: 1;
}
figure#fotomercado4 {
    width: 150px;
    height: 111px;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}
figure#fotomercado4 img{
    width: 100%;
    height: 100%;
}
figure#fotomercado4 span p {
    margin-top: 80px;
}
/*==============================================================================================*/
figure#fotomercado5 img{
    width: 100%;
    height: 100%;
}
figure#fotomercado5 span{ 
    font-size: 1pt;
    width: 100px;
    text-indent: 15px;
}
figure#fotomercado5:hover span{
    opacity: 1;
}
figure#fotomercado5 {
    width: 22px;
    height: 22px;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    
}
figure#fotomercado5 span p {
    margin-top: 80px;
}
figure#fotomercado5:hover {
    transform: scale(10);
}


/*
ul#album-fotos {
    width: 700px;
    margin: auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li {
    float: left;
    width: 200px ;
    height: 200px;
    margin: 10px;
    border: 2px solid #ffffff;
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.397);
    transition: all 0.05s ease-in;
}
ul#album-fotos li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}
ul#album-fotos li:hover span {
    opacity: 1;
}
ul#album-fotos li:hover {
    transform: scale(1.5);
}

p#photomercado1 {
    background-image: url('top10.png');
     background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white; 
}
ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto02 {
    background: url('../_imagens/enxofrefrom.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto03 {
    background: url('../_imagens/talcoform.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto04 {
    background: url('../_imagens/muscoform.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto05 {
    background: url('../_imagens/montform.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto06 {
    background: url('../_imagens/paliform.png') no-repeat;
}
ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

*/